# Dentro de GitIgnore armo una lista de objetos a ignorar

# Ignora archivos
nombrearchivo

.DS_Store

# Ignorar grupos de archivos

.jpg

.gif

# Ignorar carpetas

node_modules

# #Ignorar subcarpetas

nombrecarpeta/archivo

nombrecarpeta/nombresubcarpeta
