/* estilos generales */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: azure;
 color: #333;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1rem;
 font-family: sans-serif;
}

button {
 cursor: pointer;
}

header {
    display: flex;
    flex-flow: row nowrap;
}
.logo {
    width: 100px;
}